{% extends "base.html" %}
{% block content %}
    <h3 class="center red-text text-darken-4">CNN / Google Trends</h3>
    <a href="{% url 'CnnNews' %}">All CNN news:</a>
    <span>Show all CNN news from all CNN rss channels</span>
    <br>
    <a href="{% url 'CnnRelevantNews' %}">Relevant CNN News</a>
    <span>CNN news relevant to Google Trends</span>
    <br>
    <a href="{% url 'GoogleTrends' %}">Google Trends:</a>
    <span>Show all Google Trends from atom rss</span>
    <br>
{% endblock %}
