{% extends "base.html" %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted">Channels news</h5>
            <p>Show all CNN news from all CNN rss channels</p>
            <a href="{% url 'CnnNews' %}" class="card-link">All CNN news</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted">Relevant news</h5>
            <p>CNN news relevant to Google Trends</p>
            <a href="{% url 'CnnRelevantNews' %}" class="card-link">Relevant CNN News</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-subtitle mb-2 text-muted">Google Trends</h5>
            <p>Show all Google Trends from atom rss</p>
            <a href="{% url 'GoogleTrends' %}" class="card-link">Google Trends</a>
        </div>
    </div>
{% endblock %}
